<div class="jumbotron text-center">
  <h1>Login Page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form action="javascript:submitform();" method="POST" id="user_form">
        
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control" id="useremail">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" id="userpass">
        </div>
        <div class="g-recaptcha" data-sitekey="6Leu9hYUAAAAABTcBrcMg162BOzP2qBGyUWLOPOw"></div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
function submitform() {
  var username = $('#username').val();
  var useremail = $('#useremail').val();
  var userpass = $('#userpass').val();
  var obj = { "username": username, "useremail": useremail, "userpass": userpass};
  var formData = JSON.stringify(obj);
  $.ajax({
    type: "POST",
    url: "/adduser",
    data: formData,
    success: function(data){
      if (typeof data.redirect == 'string') {
        window.location = data.redirect;
      }
    },
    error: function() {
      console.log('some error');
    },
    dataType: "json",
    contentType : "application/json"
  });
}
</script>
