<div class="jumbotron text-center">
  <h1>Contact Page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Contact Us!</h2>

      <form action="javascript:login();" method="POST">
        
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" id="login_name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" id="login_pass">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
function login() {
  var username = $('#login_name').val();
  var userpass = $('#login_pass').val();
  var obj = { "username": username, "userpass": userpass};
  var formData = JSON.stringify(obj);
  $.ajax({
    type: "POST",
    url: "/login",
    data: formData,
    success: function(data){
      
    },
    error: function() {
      console.log('some error');
    },
    dataType: "json",
    contentType : "application/json"
  });
}
</script>